<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nodos</title>
</head>
<body>
    <form action="/AgregarNodo" method="POST">
    <input type="text" name="nombre">
    <input type="submit">
    </form>
<br>
<br>
   <a href="/Unir"> <button> Unir Nodos</button></a>
   <a href="/Lista"> <button> Ver Nodos</button></a>
   <a href="/Prueba"> <button> Ver Estructura</button></a>
   <a href="/VerDiapositiva"> <button> Iniciar Presentacion</button> </a>
   <a href="/VerMatris"> <button> Ver Matris de adyasencia </button></a>
</body>
</html>